#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #faf9f6;
}

.ag-root-wrapper,
.ag-root,
.ag-body {
  background-color: #f3f9f4 !important;
}

.ag-cell {
  padding: 10px 15px;
  display: flex !important;
  align-items: center;
  background-color: #e8f4ea;
}

.ag-header-cell-text {
  font-size: 24px;
  font-weight: bold;
}

.ag-header-cell {
  background-color: #b8d8be;
}

.ag-header-cell:hover {
  background-color: rgb(245, 255, 240) !important;
}

.ag-header-cell.hide-header .ag-header-cell-label {
  display: none;
}
